html, body{ height:100%;}
html{margin:0;padding:0;}
body {margin:0; line-height:16px; font-size:12px; color:#000; font-family:Tahoma, Helvetica, sans-serif;
/*background:url(../images/bg_mainsite.jpg) repeat-x #d6e0e4;*/ }

h1, h2, h3{ margin: 0 0 4px;}

a{ text-decoration:none; cursor:pointer;}
a img{ border:0; cursor:pointer;}
form{ margin:0; padding:0}
.bold{font-weight:bold;}
.clear{clear: both;}
.left{ float:left;}
.right{ float:right;}
.center_box{ margin:0 auto;}
.width240{ width:240px;}
.width246{ width:246px;}
.width560{ width:560px;}
.width725{ width:725px;}
.width70{ width:70px;}
.width400{ width:400px;}
.width120{ width:120px;}
.textleft{ text-align:left;}
.textright{ text-align:right;}
.textcenter{ text-align:center;}
.no_display{ display:none;}
.topmargin{ margin-top:20px;}
.todate{ margin-left:380px;margin-top:-22px;}
.fromdate{ margin-left:100px;}
/* Layout */
#wrapper{ margin:0 auto; padding:0; width:970px; height:100%;}
#headerpage{ height:110px;}
#mainpage{ border:1px solid #c1d2d9; background:#fff; border-top:0px; padding:10px; padding-top:20px; min-height:74%;}

/* Header */
.logo{ background:url(../images/logo.jpg) no-repeat; width:210px; height:78px; float:left}
.welcome{ margin-left:230px; padding-top:16px; color:#a6ccda;}
.welcome h1{ display:inline; font-size:12px; font-weight:bold; color:#ffba00;}
.welcome a{ color:#a6ccda; text-decoration:none; font-size:11px;}
.welcome a:hover{ color:#ffba00; text-decoration:underline;}

/* menu site */
.mainmenu{ display:block; height:32px; background:url(../images/bg_menu.jpg) repeat-x;}
.mainmenuL{ background:url(../images/menuL.jpg) no-repeat; width:7px; height:32px; float:left}
.mainmenuR{ background:url(../images/menuR.jpg) no-repeat; width:7px; height:32px; float:right}

.mainmenu ul{ list-style-type: none; margin:0; padding:0;}
.mainmenu li{ display:inline;}
.mainmenu a{ background:url(../images/mainmenu_left.jpg) no-repeat left top; padding-left:5px; font-weight:bold; float:left}
.mainmenu a span{ color:#fff; display:block; background:url(../images/mainmenu_right.jpg) no-repeat right top; padding: 0 17px 0 12px; height:32px; line-height:30px;}
.mainmenu a:hover{ background-position:0% -32px;}
.mainmenu a:hover span{ background-position:100% -32px; color:#feffb9;}
.mainmenu .current a{ background-position:0 -32px;}
.mainmenu .current a span{ background-position:100% -32px; color:#000;}

/* table in site */
table{ border: 1px solid #dadada;border-collapse: separate;margin-left: 32%;margin-top: 9%;width: 41%;}
td{ border:0; padding:3px;}
th{ border:1px solid #fff; padding:5px 10px; text-align:left;}
thead{ font-weight:bold; text-transform:uppercase; background:url(../images/bg_thead.jpg) repeat-x top #ededed; text-shadow:#fff 1px 1px;}
.tbheader{ text-transform:none; color:#144361; background:#ededed;}
.tdlineL{ border-left:1px solid #ddd;}
.tdlineR{ border-right:1px solid #ddd;}
.tdlineT{ border-top:1px solid #ddd;}
.tdgrid{ background:#fcfaf1;}
.tdBold {
	font-weight: bold;
}

fieldset { border: 1px #ddd solid; display: block; padding:10px; border-radius:2px; line-height:18px; font-size:11px; background:url(../images/bg_fieldset.jpg) repeat-x}
legend { color:#000; font-weight:bold; padding:0 5px; font-size:12px;}

fieldset ul{ margin:0; padding:0;}
fieldset ul li{ display:block; list-style:none; line-height:26px;}
fieldset ul li span{ display:inline-block; width:60px; text-align:right; padding-right:7px;}

/* page form */
.formsite{ background:url(../images/bg_form.jpg) repeat-x; border:1px solid #d7d7d7; padding: 2px;}
.form_error{ background:url(../images/bg_form.jpg) repeat-x; border:1px solid #e37c17; padding: 2px; color:#bf5e00}
.error_box{ border:1px solid #d98f1a; padding:4px 7px; color:#bf5e00; background:#fafafa;}
.error_box ul{ margin:0; padding:0;}
.error_box ul li{ list-style:none; margin:0; background:url(../images/icon_list.png) no-repeat left; padding-left:16px;}

.button_site{ border:1px solid #000; background:url(../images/bg_button.jpg) repeat-x #414141 top; color:#fff; cursor:pointer; padding:2px 7px; border-radius:3px; margin:5px 0; text-shadow:#000 1px 1px;}
.button_site:hover{ border:1px solid #915b05; background:url(../images/bg_button.jpg) repeat-x 0 -22px;}

a.button_site{ border:1px solid #000; background:url(../images/bg_button.jpg) repeat-x #414141 top; width:110px; display:block; color:#fff; cursor:pointer; padding:3px 7px; text-align:center; border-radius:3px; margin:5px 0; text-shadow:#000 1px 1px; font-size:13px;}
a:hover.button_site{ border:1px solid #915b05; background:url(../images/bg_button.jpg) repeat-x 0 -22px;}


.button_site_1{ border:1px solid #000; background:url(../images/bg_button.jpg) repeat-x #414141 top; color:#fff; cursor:pointer; padding:2px 7px; border-radius:3px; margin:5px 0; text-shadow:#000 1px 1px;}
.button_site_1:hover{ border:1px solid #915b05; background:url(../images/bg_button.jpg) repeat-x 0 -22px;}

a.button_site_1{ border:1px solid #000; background:url(../images/bg_button.jpg) repeat-x #414141 top; width:110px; display:block; color:#fff; cursor:pointer; padding:3px 7px; text-align:center; border-radius:3px; margin:5px 0; text-shadow:#000 1px 1px; font-size:13px;}
a:hover.button_site_1{ border:1px solid #915b05; background:url(../images/bg_button.jpg) repeat-x 0 -22px;}

a.button{ border:1px solid #000; background:url(../images/bg_button.jpg) repeat-x #414141 top; width:110px; display:block; color:#fff; cursor:pointer; padding:3px 7px; text-align:center; border-radius:3px; margin-left: 5px; margin-top: 5px; text-shadow:#000 1px 1px; font-size:13px;}
a:hover.button{ border:1px solid #915b05; background:url(../images/bg_button.jpg) repeat-x 0 -22px;}

.spbox{ display:block; margin-left:18px;}

/* Button in site */
div a.calendaricon{ background:url(../images/calendar_icon.png) no-repeat; padding:3px 10px;}
div a:hover.calendaricon{ background:url(../images/calendar_icon.png) no-repeat 0 -19px;}

/* Footer page */
#footer{ height:35px; background:url(../images/bg_footer.jpg) repeat-x; margin-top:1px;}
.footerL{ background:url(../images/bg_footerL.jpg) no-repeat; float:left; width:7px; height:35px;}
.footerR{ background:url(../images/bg_footerR.jpg) no-repeat; float:right; width:7px; height:35px;}
.footercontent{ color:#fff; text-align:right; padding-top:8px; font-size:11px;}
.footercontent span{ background:url(../images/icon_footer.jpg) left no-repeat; padding-left:35px;}
img.ui-datepicker-trigger{
	padding:0px 3px;
	position: absolute;
}

.paging{  display: block;
    float: left;
    font-weight: bold;
    width: 500px;}
a.pager_number { color:#000;}
a:hover.pager_number { color:#e99e27;} 
.pager_current{ color:#e99e27;}
.pager_next{ text-decoration:none;}
a.pager_next{ color:#3696c1;}
a:hover.pager_next{ color:#e99e27;}
a.pager_prev{ color:#3696c1;}
a:hover.pager_prev{ color:#e99e27;}
.textInfor{
	padding-left: 15px;
}
